/* ------------------------------------ */
/* *************GENERAL STYLES**************** */
/* ------------------------------------ */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

body p{
  line-height: 1.6;
}

.bold {
  font-weight: 600;
}

.btn {
	border: none;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 15px 36px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

.divider {
  /* shape and size */
  border: none;
  border-radius: 50px;
  padding: 1px 0px 1px 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

#icons {
	padding: 20px;
	text-align: center;
	display: inline-block;
}

#icons li {
	list-style: none;
	display: inline;
	padding: 20px;
}

.footer {
	grid-column: 1 / -1;
	text-align: center;
  line-height: 1.4;
  padding-top: 30px;
}

/* navigation within header */

.nav-grid {
	grid-column-start: 10;
	grid-column-end: 13;
}

.navigation {
	/* formatting */
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 600;
	/* spacing */

	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* sizing personal logo in header */
#mylogo {
	max-width: 60%;
	opacity: 0.8;
}

/*removing navigation auto-formatting*/
ul {
	list-style-type: none;
}

/* erasing typical ul, href, and nav formatting */
.navigation a,
.footer a,
.footer ul {
	text-decoration: none;
}

/* padding before bottom of page within footer */
.social {
	padding-bottom: 30px;
}
/* ----- TYPOGRAPHY ------ */
/* Headings */

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 600;
}

h3 {
  font-family: 'Poppins', sans-serif;;
  font-size: 32px;
  font-weight: 600;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* other */
.caption {
	font-size: 12px;
}

/* ********************************** */
/* ----END OF GENERAL SECION----- */


/* ------------------------------------ */
/* *************HOMEPAGE**************** */
/* ------------------------------------ */

/* ALPHABETIC sections! */
/* ----- CASE STUDIES SECTION ------ */

/* styling headings for each case study */
.case-title {
	color: #2541B2;
	font-weight: 400;
  line-height: 1.3;
}

/* Styling case study buttons */
.container .btn {
	background-color: #CC0E74;
	color: white;
}

/* Case Study preview spacing for homepage rows */
.case {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-start: 1;
	grid-column-end: -1;
}

/* Line separator between cases */
.container .divider {
  /* grid position */
  grid-column: 4/10;
  /* color */
  background-color: #CC0E74;
  opacity: 40%;
}

/* images in previews for case studies */

.imagepreview {
	grid-column: span 8;
	object-fit: cover;
	width: 100%;
}

/* hover state for preview images */
.imagepreview:hover {}

/* preview image positioning */

#water {
	grid-column: 5/12;
}

#fire,
#deskspacepreview {
	grid-column: 2/9;
}

/* Summary for first and third case studies grid positioning */
.summary {
	grid-column: 10 / span 2;
	display: grid;
	grid-row-gap: 20px;
	justify-items: start;
	align-content: center;
}

/* Summary for second case study grid positioning */
.summary2 {
	grid-column: 2 / span 2;
	display: grid;
	grid-row-gap: 20px;
	justify-items: start;
	align-content: center;
}

/* --- FOOTER ---- */
/* footer formatting */
.container .footer {
	background-color: #03256C;
	color: #FFF;
  line-height: 1.4;
  padding-top: 30px;
}

/* footer icon customizations from ion */
ion-icon {
	color: white;
	font-size: 40px;
}

/* --- GRID ---- */
/* CSS GRID set up for Homepage */
.container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 80px;
}

/* --- HEADER ---- */
/* setting header background color */
.container .header {
  background: linear-gradient( rgba(0, 214, 255, 0.4), rgba(0, 214, 255, 0.4));
  padding: 20px 40px 100px 40px;
  grid-row-gap: 80px;
}

/* hero styles in header */
.hero {
	/* formatting */
	line-height: 1.6;
	/* display: grid; */
	/* spacing */
	grid-column: 3 / span 8;
}


/* -------- LINKS ------------ */
/*HEADER LINKS*/
/* header, UNVISITED link */
.container .navigation a:link {
	color: #242424;
}

/* header, HOVER over link */
.container .navigation a:hover {
	color: #CC0E74;
}

/* header, SELECTED link */
.container .navigation a:active {
	color: #06BEE1;
}

/*FOOTER LINKS */
/* footer, UNVISITED link */
.container .footer a:link {
	color: #FFF;
}

/* footer, HOVER link */
.container .footer a:hover {
	color: #ff5e9c;
}

/* footer, SELECTED link */
.container .footer a:active {
	color: #06BEE1;
}

/* footer, VISITED link */
.container .footer a:visited {
	color: #9e345d;
}


/* ---------------------------------------------------------------------------- */
/* *************Deskspace******************************************************************************* */
/* ----------------------------------------------------------------------------- */

/* BUTTONS */
.deskspace #prototype {
  background-color: #C23B23;
	color: white;
}

.deskspace .btn {
  background-color: #4B7B7D;
	color: white;
}

/* FOOTER ------------ */
/* footer formatting */
.deskspace .footer {
	background-color: #F8A59A;
	color: #242424;
  line-height: 1.4;
  padding-top: 30px;
}

/* footer icon customizations from ion */
.deskspace ion-icon {
	color: #242424;
	font-size: 40px;
}

/* --- GRID ---- */
/* CSS GRID set up for Deskspace Case study */

/* setting general grid */

.deskspace {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr));
	grid-column-gap: 18px;
  grid-row-gap: 80px;
}

#preview-details {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#specs {
  grid-column: 9/12;
  align-self: center;
}

#specs p {
  margin-top: 40px;
  margin-bottom: 40px;
}

.discovery-content {
  grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
}

#user-surveys {
	grid-column: 1 / -1;
}


/* complicated quetsions section */
.question-area {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, minmax(auto, 70px));
  margin-top: 40px;
  margin-bottom: 40px;
	border-top: solid 5px #C23B23;
}

.connected-heading {
  grid-column: 2 / 12;
  grid-row: 1;
	padding-top: 10px;
	align-self: center;
	border-bottom: 5px #C23B23 solid;
  /* border-top: 5px solid #F2634B; */
}

.question-breakdown {
  /* border-top: 5px solid #F2634B; */
  grid-column: 6 / 12;
  grid-row: 1 / 8;
  display: grid;
  grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(6, minmax(70px, auto));
	align-items: center;
	background-color: white;
	border-left: solid 5px #C23B23;
	border-right: solid 5px #C23B23;
	border-bottom: solid 5px #C23B23;
	padding: 0px 20px 0px 20px;
}

.question-area .btn {
  justify-self: start;
	align-self: center;
  grid-column: 2 / 5;
  grid-row: 2;
}

.answers-area {
  display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 18px;
}

/*why isn't this working??!?!? */

.answers-area h3 {
	grid-column: 2 / span 12;
}

.answer-takeaways {
	grid-column: 2/7;
}

.analysis-section {
	grid-column: 8/12;
}

#features {
	grid-column: 2 / span 4;
	object-fit: contain;
	width: 100%;
}

#respondents {
	grid-column: 8 / span 4;
}

#g-drive {
	grid-column: 2 / span 2;
	object-fit: contain;
	width:100%;
}

#devices {
	grid-column: 4 / span 2;
	object-fit: contain;
	width: 100%;
}

#features-descrip {
	grid-column: 8 / span 4;
}

/* how to make this 2 columns */

.wrapper {
	grid-column: 1 / -1;
}

.analysis {
	grid-column: 1/13;
	border: 5px red solid;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}

.analysis h3 {
	grid-column: 1/-1;
	text-align: center;
	padding: 40px 0px 40px 0px;
}

.column1,
.column2 {
	padding: 40px 0px 40px 0px;
}

.column1 {
	grid-column: 2/3;
}

.column2 {
	grid-column: 4/5;
}

#user-personas {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
}

.persona {
	border: red 5px solid;
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-row-gap: 20px;
}

.persona-heading,
.persona-text,
#user-personas .btn {
	grid-column: span 5;
}

#chris-div {
	grid-column: 2 / span 5;
}

#jenna-div {
	grid-column: 7 / span 5;
}

#competitive {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
}

#competitive .btn {
	grid-column: 1 / -1;
	margin-bottom: 40px
}

#company1 {
	grid-column: 2 / span 5;
	display: grid;
}

#company2 {
	grid-column: 7 / span 5;
	display: grid;
}

.company-points {
	grid-column: 1/5
}

#opportunities {
	grid-column: 2 / 8;
}

.info-content {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
}

#user-stories {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 18px;
}


/* --- HEADER ---- */
.deskspace .header {
  background: linear-gradient( rgba(77, 172, 174, .9), rgba(77, 172, 174, .9));
  padding: 20px 30px 100px 30px;
  grid-row-gap: 40px;
}

.header-main-content {
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 40px;
  grid-column: 3 / span 8;
  justify-items: center;
  align-content: center;
  text-align: center;
  color: #242424;
  line-height: 1.4;
}

/* IMAGES */

#deskspace-preview-image {
  object-fit: cover;
  width: 100%;
  grid-column: 1/9;
  padding-left: 20px;
}

#getting-started, #clean-up {
  grid-column: span 2;
  object-fit: cover;
  width: 60%;
}

#chris,
#jenna {
	border-radius: 50%;
	grid-column: span 2;
	object-fit: cover;
}

#g-drive-summary-image, #dropbox-summary-image {
	object-fit: contain;
	grid-column: span 4;
	width: 80%;
}

#company1 .logo {
	object-fit: contain;
	grid-column: 1/2;
	width: 100%;
}



/* -------- LINKS ------------ */
/*HEADER LINKS*/
/* header, UNVISITED link */
.deskspace .navigation a:link {
	color: #242424;
}

/* header, HOVER over link */
.deskspace .navigation a:hover {
	color: #3B7D7E;
}

/* header, SELECTED link */
.deskspace .navigation a:active {
	color: #06BEE1;
}

/*FOOTER LINKS */
/* footer, UNVISITED link */
.deskspace .footer a:link {
	color: #242424;
}

/* footer, HOVER link */
.deskspace .footer a:hover {
	color: #3B7D7E;
}

/* footer, SELECTED link */
.deskspace .footer a:active {
	color: #06BEE1;
}

/* footer, VISITED link */
.deskspace .footer a:visited {
	color: #5b5b5b;
}

/* TABLE OF CONTENTS */

.table-of-contents {
  grid-column: 1/-1;
}

/* TYPOGRAPHY for DESKSPACE */

.category-heading-div {
  color: #3B7D7E;
  font-weight: 600;
  padding: 40px 0px 40px 0px;
	grid-column: 2 / 13
}

.ds-mini-section-header {
	grid-column: 2 / span 12;
	color: #b4452e;
	padding: 30px 0px 30px 0px;
}


strong {
  border: solid 4px #F2634B;
  border-radius: 8px;
  padding-left: 2px;
  margin-right: 8px;
}
