/* ------------------------------------ */
/* *************GENERAL STYLES**************** */
/* ------------------------------------ */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.btn {
	border: none;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 15px 36px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}


/* GENERAL FOOTER *************************** */
.footer {
	text-align: center;
  line-height: 1.4;
  padding-top: 30px;
}

/*footer icons */
.icons li {
	list-style: none;
	display: inline;
}

i {
	font-style: italic;
}


/* sizing personal logo in desktop header */
#mylogo {
	max-width: 60%;
	opacity: 0.8;
	justify-content: center;
}

/*removing navigation auto-formatting*/
ul, ol {
	list-style-type: none;
}

/* erasing typical ul, href, and nav formatting */
a,
ul {
	text-decoration: none;
}

/* ----- TYPOGRAPHY ------ */
/* Headings Mobile */

h1, h2, h3, h4, h5 {
	font-family: 'Poppins', sans-serif;
	color: #242424;
}

h1 {
	font-size: 32px;
	font-weight: 600;
}

h2 {
	font-size: 28px;
	font-weight: 600;
}

h3 {
	font-size: 22px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	font-weight: 400;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

p {
  line-height: 2;
}

.caption {
	font-size: 12px;
}

/* setting grid item width to full page */
.full-width {
	grid-column: 1 / -1;
}

.padding {
	padding: 40px 0px 40px 0px;
}

.hero h1 {
	text-align: center;
}

.divider {
	margin: 0px 80px 10px 80px;
	padding: 2px 0px 2px 0px;
	border-radius: 20px;
}

/* --- HEADERS ---- */


/* taking off display for desktop navigation & logo for mobile */
.navigation {
	display: none;
}

/* Header Logo Styles for DESKTOP */

#mylogo {
	display: none;
}

#mylogo:hover {
	opacity: .5;
    transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
}

/* Header padding for Deskspace and Homepage */

.container .header,
.deskspace .header {
	padding: 0px 30px 20px 30px;
}

.image-fit {
	object-fit: contain;
	width: 100%;
	display: block;
}

/* hero styles in header */
.hero {
	line-height: 1.6;
	grid-column: 1 / -1;
	padding: 0px 0px 40px 0px;
}


/* Header Style for Mobile with Hamburger Menu */
.topnav {
  overflow: hidden;
  background-color: #06BEE1;
  position: relative;
}

/* Header Logo style for Mobile */

#mmb {
	text-align: left;
}

#mmb .mobile-nav-logo {
	padding-top: 10px;
}

.mobile-nav-logo {
	width: 70%;
	max-width: 80px;
}

.mobile-nav-logo:hover {
	color: white;
}


/* hamburger menu doesn't display without selection */

.topnav {
	padding: 0 5%;
}

.topnav #myLinks {
  display: none;
}

.topnav #myLinks a {
	padding: 10px 0px;
}

.topnav a {
  color: #242424;
  text-decoration: none;
  font-size: 17px;
  display: block;
	text-align: right;
}

.topnav a:hover {
  color: white;
}

/* hamburger menu icon styles */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 5%;
  top: 20px;
	font-size: 40px;
}

/* setting header background color */

.about .header,
.contact-me .header {
  background: linear-gradient( rgba(6, 190, 225, 0.6), rgba(6, 190, 225, 0.6));
}


/* LINKS ***************************** */

.active-link {
	font-weight: 600;
	text-decoration: underline;
}

.navigation a:link,
.navigation a:visited {
	color: #242424;
}

/* header, HOVER over link */
.navigation a:hover {
	color: #CC0E74;
}

/* header, SELECTED link */
.navigation a:active {
	color: #06BEE1;
}

/* footer, UNVISITED link */
.footer a:link,
.footer a:visited {
	color: #FFF;
}

/* footer, HOVER link */
.footer a:hover {
	color: #ff5e9c;
}

/* footer, SELECTED link */
.footer a:active {
	color: #06BEE1;
}

/* --- FOOTER ---- */
/* footer formatting */
.footer {
	background-color: #03256C;
	color: #FFF;
  line-height: 1.4;
  padding-top: 30px;
}

.footer p {
	color: #FFF;
}

/* footer icon customizations from ion */
.footer ion-icon {
	color: white;
	font-size: 40px;
}

.footer ion-icon:hover {
	color: #ff5e9c;
}

/* padding before bottom of page within footer */
.social {
	padding-bottom: 30px;
}

.to-top {
	font-size: 16px;
	position: relative;
	bottom: 5vh;
	left: 70%;
	text-decoration: underline;
	color: #242424;
}

.to-top:hover {
	color: #06BEE1;
}

/* --- GRID ---- */
/* setting general grid areas*/

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 20px;
	margin: 0px 40px 20px 40px;
}

.grid-no-margin {
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 1fr));
	grid-column-gap: 16px;
	grid-row-gap: 20px;
}

.desktop-only {
	display: none;
}

.full-mobile-width {
	grid-column: 1 / -1;
}

.image-fit.desktop-only {
	display: none;
}

.topnav .resume-icon {
	width: 20px;
	padding-right: 5px;
}

.navigation .resume-icon {
	width: 20px;
	padding-right: 5px;
}


/* ********************************** */
/* ----END OF GENERAL SECION----- */


/* ------------------------------------ */
/* *************HOMEPAGE**************** */
/* ------------------------------------ */

.container .divider {
	/* spacing and color of divider */
  grid-column: 2 / 4;
	margin: 0px;
  background-color: #CC0E74;
	padding: 2px 0px 2px 0px;
  opacity: 40%;
}

.container .header,
.home .topnav {
    background: linear-gradient(231deg, #00D9FF, #06bee1, #FF47AC);
    background-size: 600% 600%;

    -webkit-animation: Maddie 14s ease infinite;
    -moz-animation: Maddie 14s ease infinite;
    animation: Maddie 14s ease infinite;
}

@-webkit-keyframes Maddie {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Maddie {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Maddie {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* styling headings for each case study */
.case-title {
	color: #233CB9;
  line-height: 1.3;
}

/* Styling case study buttons */
.container .btn {
	background-color: #CC0E74;
	color: white;
}

.case-description {
		font-size: 16px;
		line-height: 1.4;
		font-family: 'Lato', sans-serif;
}

.case-title {
		font-weight: 600;
}

/* images in previews for case studies */
.imagepreview {
	margin-top: 10px;
	object-fit: cover;
	width: 100%;
}

.case > * {
	grid-column: 1 / -1;
}

.summary,
.summary2 {
	display: grid;
	grid-row-gap: 20px;
	justify-items: center;
	text-align: center;
}

#case2 > .imagepreview {
	grid-row: 1;
}

.home .footer h2 {
	color: inherit;
}

.footer-heading {
	font-size: 18px;
	font-weight: 600;
}

.footer-content p {
	display: none;
}

.icons {
	display: inline-block;
	text-align: center;
	padding: 0px 0px 10px 0px;
}

.icons li {
	padding: 10px;
}

.container ion-icon {
	color: white;
	font-size: 28px;
}

.footer .caption {
	padding: 0px 10px 0px 10px;
}


/* ---------------------------------------------------------------------------- */
/* *************ABOUT******************************************************************************* */
/* ----------------------------------------------------------------------------- */


.about .margin {
	margin: 0px 40px 0px 40px;
}

.about h1,
.about h2 {
	color: #233CB9;
}

/* hamburger menu icon styles */
.about .topnav a.icon {
  display: block;
  position: absolute;
  right: 5%;
  top: 15px;
	font-size: 40px;
}

.about-para {
	margin: 20px 0px;
}

.about .divider {
	border: none;
	border-radius: 50px;
	background-color: #CC0E74;
	padding: 2px 0px 2px 0px;
	margin: 40px;
	clear: both;
}

#magna-doodle {
	float: right;
	border: solid 5px #06BEE1;
	margin: 20px 0px 20px 20px;
}

.image-square {
	border-radius: 15px;
	float: left;
	margin: 20px 10% 20px 0px;
	width: 50%;
	height: 50%;
}

#profile-pic2,
#belle {
	width: 100%;
	margin: 0px;
}

.square-border {
	display: inline-block;
	align-items: center;
	width: 55%;
	border: solid 5px #CC0E74;
	border-radius: 15px;
	padding: 20px;
	margin: 20px 0px;
}

#header-border {
	margin-top: 40px;
	margin-left: -20px;
	display: inline-block;
	align-items: center;
	width: 90%;
	border: solid 5px #CC0E74;
	border-radius: 15px;
	padding: 20px 0px 20px 50px;
}

#narrator {
	text-align: right;
	font-weight: 300;
	margin: 40px 40px 40px 0px;
	line-height: 1.4;
}

.footer h2 {
	color: inherit;
}

.blue-line-divider {
	display: inline-block;
	object-fit: cover;
	width: 40%;
	margin: 20px 0px;
}

.about .conclusion {
	margin: 30px 0px 0px 0px;
	padding: 40px;
	background-color: #CC0E74;
	color: #FFFFFF;
}

.about strong {
	font-weight: 600;
	color: #233CB9;
	font-size: 18px;
}


/*CONTACT ME PAGE *************************************************************************** */
/* *********************************CONTACT ME PAGE****************************************** */

.contact-me h1 {
	line-height: 1.6;
}

/* hamburger menu icon styles */
.contact-me .topnav a.icon {
  display: block;
  position: absolute;
  right: 5%;
  top: 15px;
	font-size: 40px;
}

.contact-initial {
	margin: 40px 0px 40px 0px;
}

.contact-secondary {
	margin-bottom: 20px;
}

.contact-me form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.contact-me form > * {
	padding: 10px 0px;
	margin: 10px 0px;
}

.contact-me .btn {
	align-self: center;
	width: 60%;
	background-color: #CC0E74;
	color: white;
}

.contact-content {
	margin: 20px 40px 60px 40px;
}

.contact-text,
.contact-content .caption {
	text-align: center;
}


.contact-me #mmb,
.about #mmb,
#phone-call,
#email {
	display: inline-block;
	text-align: left;
}

#phone-call,
#email {
	font-size: 60px;
	padding: 0px 20px;
}
















/* ---------------------------------------------------------------------------- */
/* *************Deskspace******************************************************************************* */
/* ----------------------------------------------------------------------------- */

/* BUTTONS */


/* PROTOTYPE BUTTON TOP OF PAGE */

.deskspace .prototype-btn {
	grid-column: 1 / -1;
	justify-self: center;
  background-color: #C23B23;
	color: white;
	border: none;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 15px 36px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

	/* Deskspace generic buttons */

.deskspace .btn {
  background-color: #4B7B7D;
	color: white;
}

/* --- HEADER ---- */
.deskspace .header,
.deskspace .topnav {
  background: rgba(77, 172, 174, .6);
  grid-row-gap: 20px;
}

.header-main-content {
  display: grid;
	grid-column: 1 / -1;
  grid-row-gap: 40px;
  justify-items: center;
  align-content: center;
  text-align: center;
  color: #242424;
  line-height: 1.4;
}

.header-main-content {
	grid-row-gap: 40px;
}

/* FOOTER ------------ */

.deskspace .footer {
	background-color: #F8A59A;
	color: #242424;
  line-height: 1.4;
  padding-top: 30px;
}

.deskspace .footer .caption {
	color: #242424;
}

/* footer icon customizations from ion */
.deskspace ion-icon {
	color: #242424;
}


#project-details {
	padding-top: 40px;
}

#problem-solution {
	margin: 20px 40px;
}

.prob {
	color: #4B7B7D;
	padding-bottom: 20px;
}

.solu {
	color: #C23B23;
	padding: 20px 0px;
}

.column {
	padding-bottom: 20px;
}

#question-area {
	margin: 10px 20px 20px 20px;
}

#question-area .btn {
	grid-column: 1 / -1;
	justify-self: center;
	margin: 20px 0px 10px 0px;
}

.question.btn {
	display: block;
	margin: 0px auto 40px auto;
	width: 275px;
	line-height: 1.2;
}

.question-breakdown {
	margin: 0 15%;
	grid-row-gap: 10px;
	align-items: center;
	background-color: white;
	padding: 20px 20px 20px 20px;
	line-height: 1.2;
}

.question-breakdown p {
	margin-bottom: 40px;
}

.question-breakdown h5 {
	color: #F2634B;
	font-style: italic;
	padding-bottom: 10px;
}

.sub-heading {
	text-align: center;
	line-height: 1.6;
	font-family: 'Lato', sans-serif;
	padding: 40px 0px;
	font-weight: 600;
	color: #4B7B7D;
}

.answer-takeaways {
	margin: 80px 40px 0px 40px;
}

.answer-takeaways h4 {
	padding-bottom: 20px;
}

.answer-takeaways p {
	padding-bottom: 20px;
}

#complaints {
	margin: 0px 40px;
}

.complaint {
	margin: 60px 0px;
}

#space {
	padding-top: 0px;
	margin-top: 0px;
}

.complaint-image {
	object-fit: contain;
	width: 100%;
}

.complaint-title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.8;
}

.summ {
	text-align: center;
}

#what {
	padding: 40px;
}

.analysis {
	background-color: #fdece9;
	padding: 40px;
	margin-bottom: 40px;
}

.analysis ul {
	list-style-type: disc;
	margin: 0px 30px;
	list-style-position: inside;
}

.analysis li {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	padding: 20px 0px;
	line-height: 1.6;
}

.answer-head {
	padding-top: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 22px;
}

.takeaway {
	font-family: 'Nunito', sans-serif;
	background-color: #fdece9;
	text-align: center;
	padding: 40px;
}

#user {
	margin: 0px;
}

#devices {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 40px 40px 40px;
	width: 80%;
}

#g-drive {
	padding: 0px 40px;
}


#likes {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.numbered-list li {
  counter-increment: x;
	padding: 10px 0px;
	line-height: 1.8;
}

.numbered-list li::before {
  content: counter(x) ") ";
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#mobile {
	padding-top: 40px;
	font-weight: 400;
}

#chris,
#jenna {
	border-radius: 50%;
	object-fit: cover;
	grid-column: span 5;
	height: 211px;
	width: 211px;
}

.persona {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(5, minmax(20px, 1fr));
	grid-template-rows: repeat(4, auto);
	grid-row-gap: 40px;
	justify-items: center;
	padding: 20px 0px 20px 0px;
}

.persona-heading,
.persona-text {
	grid-column: 1 / -1;
	font-family: 'Lato', sans-serif;
	justify-self: center;
}

#user-personas .btn {
	grid-column: 1 / -1;
	justify-self: center;
}

.persona-heading {
	font-weight: 600;
}

.company {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 1fr));
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 0px 20px 0px 20px;
}

.co-logo {
	height: 80px;
	width: 80px;
	padding-bottom: 10px;
}

.company-points {
	grid-column: 1 / -1;
	line-height: 1.6;
}

 .grid .btn.center {
	display: inherit;
	grid-column: 1 / -1;
	justify-self: center;
	align-self: center;
	margin: 40px auto 80px auto;
}

.btn.center {
	display: block;
	margin: 40px auto 80px auto;
	width: 225px;
}

#stickies {
	width: 60%;
	margin: 0px auto;
}

#priorities {
	width: 30%;
	margin: 0 auto;
}

#user-flow-image {
	display: block;
	width: 80%;
	margin: 0 auto;
}

#wireframe-sketches-image,
#digital-wireframes1,
#digital-wireframes2 {
	display: block;
	object-fit: contain;
	width: 80%;
	margin: 0 auto;
}

#wireframe-sketch-description {
	margin: 0px 40px;
	padding: 40px 0px;
}

#brand-head,
#color-head {
	margin-top: 0px;
}

#digital-wireframes2 {
	padding: 40px 0px;
}

.usability {
	padding: 20px 0px 20px 0px;
}

#wireframe-testing,
#preference-testing,
#tested-tasks-2 {
	background-color: #fdece9;
	padding: 40px;
}

#preference-testing {
	font-family: 'Nunito', sans-serif;
}

.pref-description1 {
	padding-bottom: 40px;
}

.user-testing {
	font-size: 22px;
	color: #891c0a;
	line-height: 1.4;
	font-weight: 600;
	padding-bottom: 40px;
}

.numbered-list {
	padding-bottom: 40px;
}

.list-heading {
	margin-bottom: 40px;
	text-align: center;
	font-weight: 400;
	color: #891c0a;
}

.list-heading2 {
	margin: 0px;
	font-style: italic;
	text-align: left;
	font-weight: 400;
	color: #891c0a;
	padding-bottom: 20px;
}

#wireframe-testing-description {
	padding: 0px 0px 20px 0px;
}

.concept-text {
	margin: 30px 40px;
}

#brand-concept-image {
	padding: 20px 20px;
}

#name-description {
	margin: 20px 40px;
}

.quote-group {
	padding: 20px 0px 10px 0px;
}

#quotes-section {
	background-color: #d9eeee;
	color: #234f50;
	padding: 0px 40px;
	margin-bottom: 40px;
}

.user-quotes {
	font-weight: 800;
	color: #3B7D7E;
}

#quote2 {
	padding-left: 100px;
	text-align: right;
}

#quote1 p,
#quote2 p,
#quote3 p {
	font-family: 'Lato', sans-serif;
}

#color-description {
	margin: 0px 40px;
}

#color-palette {
	width: 80%;
	margin: 40px 40px 0px 40px;
}

#rough-head {
	padding: 0px 0px 20px 0px;
}

#rough-logos {
	width: 90%;
	margin: 0 auto;
}

#final-logo {
	width: 50%;
	margin: 0 auto;
}

#typography {
	text-align: center;
}

.font-title {
	text-decoration: underline;
	padding-bottom: 10px;
}

.font h2,
.font h3,
.font h4,
.font p {
	display: inline-block;
}

#proxima,
#madre,
#source-sans {
	padding: 20px 0px;
}

#proxima h2,
#proxima h3,
#proxima h4,
#proxima h5,
#proxima p {
	font-family: 'proxima-nova', sans-serif;
}

#proxima > div,
#sans-source > div {
	padding: 10px 0px;
}

#madre h2,
#madre h4,
#madre p {
	font-family: 'madre-script', sans-serif;
}

#source-sans h2,
#source-sans p {
	font-family: 'source-sans-pro', sans-serif;
}

#title1 h2 {
	font-size: 48px;
	font-weight: 800;
}

#title2 h2 {
	font-size: 48px;
	font-weight: 400;
}

#title3 h3 {
	font-size: 32px;
	font-weight: 600;
}

#title4 h4 {
	font-size: 28px;
	font-weight: 400;
}

#reg-prox {
	font-size: 16px;
}

#title1_b {
	font-size: 20px;
	display: inline-block;
}

#madre p {
	display: inline-block;
}

#small {
	font-size: 16px;
}

#smaller {
	font-size: 8px;
	font-weight: 600;
}

#buttons {
	width: 90%;
	margin: 0 auto;
}

#tasks-2 {
	padding-bottom: 0px;
}

#usability-test-description {
	padding: 60px 40px;
}

#usability-test-description2 {
	padding: 40px;
}

#menu,
#sign-in {
	background-color: #f0f8f8;
}

#log-in,
#sync {
	background-color: #f7f7f7;
}

.bullets {
	font-family: 'Nunito', sans-serif;
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.4;
	margin: 20px 40px;
	font-size: 16px;
}

.bullets li span {
	font-style: italic;
}

.bullets li {
	color: #242424;
	padding: 20px;
}

#plus {
	padding: 0px 5px 0px 5px;
}

#usability1 {
	width: 80%;
	margin: 0 auto;
}

.usability .image-fit {
	width: 85%;
	margin: 0 auto;
	padding: 10px;
}

#usability6 {
	width: 90%;
	padding: 10px;
	margin: 0 auto;
}

#usability7 {
	width: 65%;
	padding: 10px;
	margin: 0 auto;
}

#preference-visuals .user-testing {
	padding: 20px 40px 0px 40px;
}

#preference-visuals {
	background-color: #fdece9;
	padding: 20px 0px;
}

.preference-image {
	display: block;
	object-fit: contain;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
}

.after {
	border: 2px solid #4cacae;
}

.pref-title {
	padding: 20px 40px 20px 40px;
	text-align: center;
	color: #3B7D7E;
	line-height: 1.6;
}

.pref-group {
	margin: 20px auto 60px auto;
	padding: 20px;
	background-color: white;
}

.conclusion .ds-category-heading {
	margin-top: 0px;
	margin-bottom: 60px;
	background-color: #891c0a;
}

.deskspace .conclusion p {
	margin: 40px;
}

#conclusion-quote {
	margin: 0px;
	padding: 0px;
}

.quote-sym {
	padding: 0px 10px;
	opacity: 40%;
}

.pref-description {
	line-height: 1.4;
	padding: 10px 30px 0px 30px;
}

.quote {
	line-height: 2.5;
	background-color: rgba(123, 193, 195, .5);
	margin: 40px 10%;
	padding: 30px;
	border-radius: 30px;
	align-self: center;
}

.app-description {
	grid-column: 1 / -1;
	font-size: 18px;
}

.persona-text {
	padding: 0px 40px 0px 40px;
	text-align: center;
}


			/* **************** DESKSPACE LINKS************************* */

.deskspace .navigation a:link,
.deskspace .navigation a:visited {
	color: #242424;
}

/* header, HOVER over link */
.deskspace .navigation a:hover {
	color: #C23B23;
}

/* header, SELECTED link */
.deskspace .navigation a:active {
	color: white;
}

/*FOOTER LINKS */
/* footer, UNVISITED & VISITED link */
.deskspace .footer a:link,
.deskspace .footer a:visited {
	color: #242424;
}

/* footer, HOVER link */
.deskspace .footer a:hover {
	color: #3B7D7E;
}

/* footer, SELECTED link */
.deskspace .footer a:active {
	color: #06BEE1;
}

/* TYPOGRAPHY for DESKSPACE */

.ds-category-heading {
	text-align: center;
	grid-column: 1 / -1;
	justify-self: center;
	background-color: #3B7D7E;
  color: white;
	text-transform: uppercase;
  font-weight: 600;
  padding: 20px 0px;
	margin: 40px 0px;
}

.ds-mini-section-header {
	grid-column: 1 / -1;
	color: #b4452e;
	font-weight: 400;
	padding: 10px 0px 10px 0px;
}

.concept-quote {
	font-family: 'Nunito', sans-serif;
	font-size: inherit;
	padding: 20px 0px 20px 40px;
	font-weight: 600;
	color: #3B7D7E;
}

.deskspace .header h3 {
	font-family: 'Poppins', sans-serif;
	color: #242424;
	font-weight: 400;
	font-size: 18px;
}

.deskspace p {
	font-family: 'Nunito', sans-serif;
}

#project-details strong {
  font-weight: 800;
	color: #3B7D7E;
}

#project-details p {
	margin: 20px 0px 20px 0px;
}

#conclusion-heading {
	grid-column: 1 / -1;
	justify-self: center;
	color: white;
	padding: 20px 0px 20px 0px;
}

.conc {
	font-style: italic;
	font-weight: 800;
	color: #b4452e;
}

.quote strong {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.2;
}














				/* ------------------------------ */
				/* ------------------------------ */
				/* ------------------------------ */

				@media screen and (min-width: 768px) {

				/* GENERAL */

				/* TYPOGRAPHY */
				h1 {
					font-size: 44px;
					font-weight: 600;
				}

				h2 {
					font-size: 40px;
					font-weight: 600;
				}

				h3 {
					font-size: 32px;
					font-weight: 600;
				}

				h4, h5 {
					font-size: 22px;
					font-weight: 600;
				}

				.ds-subsection-header {
					padding-left: 40px;
				}

				/* hide Mobile nav drawer */
				.topnav {
					display: none;
				}

				.contact-logo {
					display: none;
				}

				/* GENERAL NAVIGATION for Desktop and Tablet********************** */

				.navigation {
					/* formatting */
					font-family: 'Lato', sans-serif;
					font-weight: 600;
					font-size: 16px;

					/* spacing */
					align-items: center;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-column: 6 / 9;
					justify-items: center;
				}

				.home .header,
				.deskspace .header {
					padding: 20px 40px 100px 40px;
				}
				/* .navigation {
					font-size: 16px;
					grid-column: 6 / span 3;
				} */

				.mobile-only {
					display: none;
				}

				/*DESKTOP GRID *************/

				.grid {
					display: grid;
					grid-template-columns: repeat(8, minmax(50px, 1fr));
					grid-column-gap: 18px;
					grid-row-gap: 20px;
					margin: 0px 30px 40px 30px;
				}

				.grid-no-margin {
					display: grid;
					grid-template-columns: repeat(8, minmax(50px, 1fr));
					grid-column-gap: 18px;
				}

				/* DESKSPACE (TABLET) */

				.image-fit {
					object-fit: contain;
					display: block;
					margin: 0 auto;
					width: 100%;
					grid-column: 1/-1;
				}

				.image-fit.desktop-only {
					display: none;
				}

				.co-summary {
					padding-bottom: 40px;
				}

				.company {
					margin: 0px 40px;
				}

				.co-logo {
					height: 200px;
					padding: 20px 0px;
				}

				.company-points {
					justify-self: center;
					padding-bottom: 40px;
				}

				#mylogo {
					display: block;
					max-width: 100%;
				}

				.container .divider {
					grid-column: 4/10;
				}

				#specs-heading {
					display: inherit;
				}

				#specs {
					grid-column: 1 / -1;
					margin: 60px;
				}

				#problem-solution {
					padding: 40px;
					display: flex;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
					background-color: #d9eeee;
					margin: 0px -10px 100px -10px;
				}

				.prob {
					color: #242424;
				}

				.solu {
					color: #242424;
					padding: 0px;
				}

				.column {
					flex: 50%;
					padding: 10px;
					margin: 0 10px;
				}

				.column h2 {
					padding-bottom: 40px;
				}

				.sub-heading {
					font-size: 32px;
					font-weight: 600;
					text-align: center;
					color: #234f50;
				}

				.answer-takeaways {
					margin: 40px 20%;
				}

				.answer-takeaways h4 {
					font-weight: 400;
					padding: 20px 0px;
				}

				.answer-takeaways p {
					font-family: 'Nunito', sans-serif;
				}

				#answers-wrapper {
					padding: 40px 60px;
					margin: 40px 0px;
					background-color: #fdece9;
				}

				.big-quote {
					color: #242424;
					line-height: 1.4;
					font-size: 24px;
					text-align: center;
					padding: 20px 20px;
				}

				.big-quote span {
					font-size: 16px;
					font-style: italic;
				}

				.surprise {
					font-size: 24px;
					font-weight: 600;
				}

				.not-surprise {
					font-size: 24px;
					font-weight: 600;
				}

				.emphasis {
					font-style: italic;
					font-weight: 800;
					color: #234f50;
					text-transform: uppercase;
				}

				#complaint-heading {
					font-size: 28px;
				}


				.complaint-title {
					font-size: 28px;
					line-height: 1.6;
				}

				.cards {
				  display: flex;
				  flex-wrap: wrap;
				  flex-direction: column;
				  align-items: center;
				}

				.complaint {
				  /* padding: 10px 0px; */
				  display: flex;
				  align-items: center;
				}

				.complaint-image {
				  width: 40vw;
				  margin-left: 3vw;
				}

				.summ {
				  width: 25vw;
				  margin: 0 5vw;
					text-align: left;
				}

				.analysis ul {
					column-count: 2;
					column-gap: 60px;
					margin: 0px 10%;
					list-style-type: disc;
				}

				.analysis li {
					font-family: 'Nunito', sans-serif;
					text-align: left;
					padding: 20px 0px 10px 0px;
					page-break-inside: avoid;
					-webkit-column-break-inside: avoid;
				}

				.answers {
					display: flex;
					padding: 0px 10% 40px 10%;
					flex-wrap: wrap;
					justify-content: center;
					margin: 0px;
				}

				.answer {
					margin: 40px 0px;
					flex-basis: 80%;
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				.takeaway {
					padding: 40px;
				}

				#devices {
					width: 60%;
				}

				#g-drive {
					width: 75%;
				}

				.persona {
					border-radius: 25px;
					box-shadow: 0 4px 8px 0 rgba(123, 193, 195, .6);
					margin: 20px 60px;
					padding: 60px 0px;
				}

				.persona-text {
					margin: 0px 60px;
				}

				#stickies {
					margin: 0 auto;
				}

				#priorities {
					width: 40%;
				}

				#wireframe-sketches-image {
					width: 50%;
				}

				.user-testing {
					font-size: 28px;
				}

				#tested-tasks,
				#preference-testing,
				#tested-tasks-2,
				#wireframe-sketch-description,
				#color-description,
				#usability-test-description,
				#usability-test-description2 {
					padding: 60px 10%;
				}

				.concept-text,
				#name-description {
					margin: 80px 10%;
				}

				#brand-concept-image {
					width: 80%;
				}

				#color-palette {
					width: 70%;
					margin: 0 auto;
				}

				#final-logo {
					width: 40%;
				}

				#buttons {
					width: 50%;
				}

				#quotes-section {
					margin: 0px 80px;
					padding: 40px 60px;
				}

				#usability-visuals li {
					padding: 20px 15%;
				}

				.bullets {
					margin: 0px;
				}

				.usability .image-fit {
					padding: 30px;
				}

				#preference-visuals {
					padding: 20px 10%;
				}

				#preference-visuals .user-testing {
					padding-top: 40px;
					padding-bottom: 40px;
				}

				.pref-group {
					margin: 20px 40px;
					padding: 40px 0px;
				}

				.pref-description {
					padding-top: 30px;
					text-align: center;
					font-style: italic;
				}

				.after {
					border: 5px solid #4cacae;
				}

				.pref-title {
					padding: 0px 0px 20px 0px;
				}

				#preference2 .preference-image {
					width: 70%;
				}

				#preference3 .preference-image {
					width: 50%;
				}

				.deskspace .conclusion p {
					margin: 40px 10%;
				}

				#venn5 {
					margin: 30px auto;
					width: 80%;
				}

				.left {
					grid-column: 2 / 6;
				}

				.right {
					grid-column: 8 / 12;
				}

				/* ABOUT PAGE Tablet Adjustments */

				#header-border {
					width: 65%;
					padding-left: 19%;
				}

				#narrator {
					margin: 60px 20% 60px 10%;
				}

				.image-square {
					max-width: 300px;
					margin: 20px 60px 20px 0px;
				}

				.about .margin {
					margin: 0 18%;
				}

				.test1 {
					padding-top: 40px;
				}

				.about .divider {
					border: none;
					border-radius: 50px;
					background-color: #CC0E74;
					padding: 2px 0px 2px 0px;
					margin: 20%;
				}

				#magna-doodle {
					margin: 30px 0px 20px 13%;
					overflow: auto;
				}

				.picture-divider {
					margin: 40px 0px;
				}

				.about .conclusion {
					padding: 40px 20%;
				}

				.about .header {
					padding: 20px 40px 10px 40px;
				}

				/* CONTACT ME PAGE *************************************** */
				/* ******************************************************* */

				.contact-me .header {
					padding: 20px 40px 10px 40px;
				}

				.contact-me form {
					padding-top: 0px;
					grid-column: 5 / span 4;
					display: flex;
					flex-direction: column;
					align-self: start;
				}

				.contact-content {
					margin: 80px 40px 120px 40px;
				}

				.contact-text {
					grid-column: 1 / span 4;
				}

				.contact-content.grid {
					align-items: start;
					height: 400px;
				}

				.contact-me .caption {
					grid-row: 2;
					grid-column: 1 / span 5;
				}

				.contact-me #body-caption {
					text-align: left;
					justify-self: start;
				}

				.contact-initial {
					margin: 0px;
					text-align: left;
					font-size: 40px;
				}

				.contact-secondary {
					font-size: 32px;
					margin-top: 40px;
					text-align: left;
				}

				.contact-me .footer {
					position: absolute;
					bottom: 0;
					width: 100%;
				}

				}

						@media screen and (min-width: 1024px) {
						/* *********************************** */
						/* DESKTOP ADJUSTMENTS */
						/* *********************************** */

						/* DESKTOP TYPOGRAPHY */

						h1 {
							font-size: 48px;
							font-weight: 600;
						}

						h2 {
							font-size: 36px;
							font-weight: 600;
						}

						h3 {
							font-size: 28px;
							font-weight: 600;
						}

						h4, h5 {
							font-size: 20px;
							font-weight: 600;
						}

						/*DESKTOP GRID *************/

						.grid {
							display: grid;
							grid-template-columns: repeat(12, minmax(50px, 1fr));
							grid-column-gap: 18px;
							grid-row-gap: 20px;
							margin: 0px 30px 40px 30px;
						}

						.grid-no-margin {
							display: grid;
							grid-template-columns: repeat(12, minmax(50px, 1fr));
							grid-column-gap: 18px;
						}

						.divider {
							/* shape and size for desktop dividers */
							border: none;
							border-radius: 50px;
							padding: 2px 0px 2px 0px;
							margin-top: 40px;
							margin-bottom: 40px;
						}

						.full-mobile-width {
							grid-column: auto;
						}

						.full-mobile-text {
							grid-column: auto;
							padding: 0px;
						}

						.image-fit.desktop-only {
							display: inherit;
						}

						.desktop-only {
							display: inherit;
						}



						/* DESKTOP HOMEPAGE ************************ */
						/* DESKTOP HOMEPAGE************************ */

						.footer-heading {
							font-size: 36px;
						}

						/* hero styles in header */
						.hero {
							line-height: 1.6;
							grid-column: 1 / -1;
							padding: 80px 40px 80px 40px;
						}

						.navigation {
							display: grid;
							grid-template-columns: 1fr 1fr 1fr;
							grid-column: 9 / span 4;
							align-self: center;
							font-size: 18px;
						}

						.case-title {
							font-weight: 400;
						}

						.case-description {
							font-size: 16px;
							line-height: 2;
						}

						#fire,
						#deskspacepreview {
							grid-column: 2 / 9;
						}

						#water {
							grid-column: 5 / 12;
						}

						.imagepreview {
							object-fit: cover;
							max-width: 800px;
						}

						#case2 > .imagepreview {
							grid-row: auto;
						}

						/* Summary for first and third case studies grid positioning */
						.summary {
							grid-column: 9 / span 3;
							display: grid;
							grid-row-gap: 20px;
							text-align: left;
							justify-items: start;
							align-content: center;
						}

						/* Summary for second case study grid positioning */
						.summary2 {
							grid-column: 2 / span 2;
							display: grid;
							grid-row-gap: 20px;
							text-align: left;
							justify-items: start;
							align-content: center;
						}

						.summary > h4,
						.summary2 > h4 {
							display: inherit;
						}


						/* Line separator between cases */
						.container .divider {
							grid-column: 4/10;
							background-color: #CC0E74;
							opacity: 40%;
						}

						.container ion-icon {
							color: white;
							font-size: 40px;
						}

						.icons {
							padding: 20px;
							text-align: center;
							display: inline-block;
						}

						.icons li {
							padding: 20px;
						}

						.home .footer {
							padding-top: 60px;
						}

						.footer-content p {
							display: inherit;
						}

						.social .caption {
							font-size: 14px;
							padding: 0px;
						}


						/* *********************************** */
						/* DESKSPACE ADJUSTMENTS */
						/* *********************************** */

						.deskspace h1 {
							font-size: 48px;
						}

						.header-main-content {
							grid-row-gap: 40px;
						}

						.deskspace .prototype-btn {
							grid-column: 6 / 8;
						}

						.deskspace .header-main-content h3 {
							grid-column: 3 / 11;
							font-size: 32px;
							font-weight: 400;
						}

						.ds-subsection-header {
							grid-column: 1 / -1;
							padding: 40px 0px 40px 0px;
							justify-self: center;
							text-transform: uppercase;
						}

						#connected-heading .ds-subsection-header {
							padding: 0px 0px 0px 0px;
						}

						#deskspace-preview-image {
							width: 100%;
						}

						#specs {
							grid-column: 1 / -1;
							justify-self: center;
							max-width: 900px;
							font-size: 20px;
						}

						#specs h2 {
							display: inherit;
							text-align: center;
						}

						#specs p {
							margin: 40px 0px 40px 0px;
						}

						#project-details strong {
							border: solid 4px #F2634B;
							border-radius: 8px;
							padding-left: 2px;
							margin-right: 8px;
						}

						.about strong {
							font-size: inherit;
						}

						#problem-solution {
							padding: 40px;
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
						}

						.column {
							margin: 0px 40px;
						}

						.ds-category-heading {
							font-size: 36px;
						}

						.question.btn {
							display: block;
							margin: 80px auto;
							width: 275px;
							line-height: 1.2;
						}

						.question-breakdown {
							width: 70%;
							margin: 0 15%;
							display: grid;
							grid-template-columns: 1fr 3fr;
							grid-template-rows: repeat(6, minmax(70px, auto));
							grid-row-gap: 0px;
							align-items: center;
							background-color: white;
							border: none;
							padding: 0px;
						}

						.question-breakdown p {
							padding-left: 0px;
							margin-bottom: 0px;
						}

						.question-breakdown h5 {
							font-style: normal;
							padding-right: 20px;
							padding-bottom: 0px;
						}

						.ds-mini-section-header {
							grid-column: 2 / -1;
							font-weight: 600;
							padding: 30px 0px 30px 0px;
						}

						.answer-takeaways {
							margin: 40px 20%;
						}

						.answer-takeaways h4 {
							padding: 20px 0px;
						}

						.answer-takeaways p {
							font-family: 'Nunito', sans-serif;
						}

						#answers-wrapper {
							padding: 40px 60px;
							background-color: #fdece9;
						}

						#answers-wrapper span {
							white-space: nowrap;
						}

						.big-quote {
							color: #242424;
							line-height: 1.4;
							font-size: 24px;
							text-align: center;
							padding: 20px 20px;
						}

						.big-quote span {
							font-size: 16px;
							font-style: italic;
						}

						.surprise {
							font-size: 24px;
							font-weight: 600;
						}

						.not-surprise {
							font-size: 24px;
							font-weight: 600;
						}

						.answer .sub-heading {
							padding: 0px;
						}

						#answer2 {
							flex-basis: 50%;
						}

						#devices {
							padding: 40px 0px;
							width: 50%;
						}

						#g-drive {
							padding-top: 20px;
							width: 65%;
						}

						.takeaway {
							background-color: white;
							padding: 20px 0px 0px 0px;
							font-size: 20px;
							font-weight: 600;
							font-style: italic;
						}

						#desktop {
							padding-top: 40px;
							display: inherit;
						}

						#user {
							margin: 40px 0px 80px 0px;
						}

						.persona {
							display: grid;
							grid-template-columns: repeat(5, minmax(20px, 1fr));
							grid-template-rows: repeat(4, auto);
							grid-row-gap: 40px;
							justify-items: center;
							padding: 40px 0px 40px 0px;
							grid-column: 1 / -1;
							width: 600px;
							justify-self: center;
							background-color: white;
						}

						#quotes-section {
							padding: 0px 40px;
						}

						#personas {
							background-color: #d9eeee;
						}

						#personas .grid {
							padding-bottom: 100px;
							margin: 0px;
						}

						#comp-head {
							margin: 0px;
						}

						#competitive .grid {
							padding-top: 40px;
						}

						.company-vl {
							border-left: 5px solid #F8A59A;
							height: 400px;
							margin-top: 30px;
						}

						.company {
							display: grid;
							grid-template-columns: auto;
							grid-column-gap: 10px;
							grid-row-gap: 10px;
						}

						.co-logo {
							height: 97px;
							width: 97px;
						}

						#company1 {
							grid-column: 2 / span 5;
						}

						#company2 {
							grid-column: 8 / span 5;
						}

						.company-points {
							grid-column: 1/5;
						}

						.co-summary {
							object-fit: contain;
							grid-column: span 4;
							width: 80%;
						}

						.company-name {
							font-size: 28px;
							grid-column: auto;
							align-self: center;
						}

						#opportunities {
							margin: 0 20%;
						}

						#user-head {
							margin-top: 60px;
							margin-bottom: 40px;
						}

						#priorities {
							width: 20%;
						}

						#user-flow-image {
							width: 70%;
						}

						#wireframe-sketches-image {
							margin-top: 80px;
						}

						#digital-wireframes > img {
							width: 50%;
						}

						#digital-wireframes1 {
							margin-bottom: 40px;
						}

						#tested-tasks,
						#preference-testing,
						#tested-tasks-2,
						#wireframe-sketch-description,
						#color-description,
						#usability-test-description,
						#usability-test-description2 {
							padding: 60px 20%;
						}

						#wireframe-testing-image {
							width: 60%;
							margin: 0px auto 60px auto;
						}

						#brand-concept-image {
							width: 40%;
						}

						#quotes-section {
							margin: 20px 20%;
							padding: 60px 100px;
						}

						.concept-text,
						#name-description {
							margin: 80px 20%;
						}

						#color-palette {
							width: 60%;
						}

						#branding-sketches {
							padding-bottom: 60px;
						}

						#rough-logos {
							width: 80%;
						}

						#final-logo {
							width: 30%;
							margin-bottom: 120px;
						}

						#usability1 {
							width: 60%;
							margin: 40px auto;
						}

						.usability .image-fit {
							width: 50%;
							margin: 0 auto;
							padding: 20px;
						}

						#usability6 {
							width: 65%;
							padding: 10px;
							margin: 0 auto;
						}

						#usability7 {
							width: 45%;
							padding: 10px;
							margin: 0 auto;
						}

						#usability-visuals li {
							padding: 30px 22%;
						}

						#preference-visuals {
							padding: 20px 10%;
						}

						#preference-visuals .user-testing {
							padding: 80px 0px 40px 10%;
						}

						.preference-image {
							padding: 20px 0px;
						}

						.pref-group {
							margin: 40px 10%;
						}

						#preference1,
						#preference2 {
							margin-bottom: 80px;
						}

						#preference3 {
							margin-bottom: 100px;
						}

						#color-description {
							padding-top: 60px;
						}

						.deskspace .conclusion p {
							margin: 60px 20%;
						}

						#illustration {
							width: 70%;
						}

						.quote {
							margin: 80px 20% 100px 20%;
							padding: 60px;
						}

						.to-top {
							left: 80%;
						}


						/* *********************************** */
						/* CONTACT ME ADJUSTMENTS */
						/* *********************************** */

						.contact-me .navigation li {
							padding: 0px;
						}

						.contact-me .navigation {
							display: grid;
							grid-template-columns: 1fr 1fr 1fr;
							grid-column: 9 / span 4;
						}

						.contact-me .header {
							display: grid;
							grid-template-columns: repeat(12, minmax(50px, 1fr));
							grid-column-gap: 18px;
							padding: 20px 40px 10px 40px;
						}

						.contact-me form {
							padding-top: 0px;
							grid-column: 8 / span 4;
						}

						.contact-content {
							margin-top: 80px;
						}

						.contact-text {
							grid-column: 2 / span 5;
						}

						.contact-content.grid {
							align-items: start;
							height: 400px;
						}

						.contact-me .caption {
							grid-row: 2;
							grid-column: 2 / span 5;
							justify-self: end;
							padding-right: 80px;
						}

						.contact-initial {
							margin: 0px;
						}

						.contact-secondary {
							margin-top: 40px;
						}

						/* *********************************** */
						/* ABOUT ADJUSTMENTS */
						/* *********************************** */

						#header-border {
							width: 70%;
						}

						#narrator {
							margin: 60px 20% 60px 20%;
						}

						#magna-doodle {
							margin: 40px 0px 40px 60px;
						}

						.about-para {
							margin: 60px 0px;
						}

						.test1 {
							display: none;
						}

						.about .conclusion {
							margin-top: 60px;
						}

						.about .divider {
							margin: 15% 20%;
						}

						.picture-divider {
							display: flex;
						}

						.square-border {
							display: flex;
							height: 100%;
							align-items: center;
							justify-content: space-around;
							border-radius: 40px;
						}

						.blue-line-divider {
							max-height: 450px;
						}

					}

										@media screen and (min-width: 1280px) {
										/* *********************************** */
										/* DESKTOP ADJUSTMENTS */
										/* *********************************** */


										/*DESKTOP GRID *************/

										.grid {
											display: grid;
											grid-template-columns: repeat(12, minmax(50px, 1fr));
											grid-column-gap: 18px;
											grid-row-gap: 20px;
											margin: 0px 30px 40px 30px;
										}

										.grid-no-margin {
											display: grid;
											grid-template-columns: repeat(12, minmax(50px, 1fr));
											grid-column-gap: 18px;
										}

										.divider {
										  /* shape and size for desktop dividers */
										  border: none;
										  border-radius: 50px;
										  padding: 2px 0px 2px 0px;
										  margin-top: 40px;
										  margin-bottom: 40px;
										}

										.full-mobile-width {
											grid-column: auto;
										}

										.full-mobile-text {
											grid-column: auto;
											padding: 0px;
										}

										.desktop-only {
											display: inherit;
										}



										/* DESKTOP HOMEPAGE ************************ */
										/* DESKTOP HOMEPAGE************************ */

										.footer-heading {
											font-size: 36px;
										}

										/* hero styles in header */
										.hero {
											line-height: 1.6;
											grid-column: 1 / -1;
											padding: 80px 40px 80px 40px;
										}

										#myBtn {
											bottom: 40px;
											right: 60px;
											height: 60px;
											width: 60px;
										}

										.case-title {
											font-weight: 400;
										}

										.case-description {
											font-size: 16px;
											line-height: 2;
										}

										#fire,
										#deskspacepreview {
											grid-column: 2 / 9;
										}

										#water {
											grid-column: 5 / 12;
										}

										.imagepreview {
											object-fit: cover;
											max-width: 800px;
										}

										#case2 > .imagepreview {
											grid-row: auto;
										}

										/* Summary for first and third case studies grid positioning */
										.summary {
											grid-column: 9 / span 3;
											display: grid;
											grid-row-gap: 20px;
											text-align: left;
											justify-items: start;
											align-content: center;
										}

										/* Summary for second case study grid positioning */
										.summary2 {
											grid-column: 2 / span 2;
											display: grid;
											grid-row-gap: 20px;
											text-align: left;
											justify-items: start;
											align-content: center;
										}

										.summary > h4,
										.summary2 > h4 {
											display: inherit;
										}


										/* Line separator between cases */
										.container .divider {
										  grid-column: 4/10;
										  background-color: #CC0E74;
										  opacity: 40%;
										}

										.container ion-icon {
											color: white;
											font-size: 40px;
										}

										.icons {
											padding: 20px;
											text-align: center;
											display: inline-block;
										}

										.icons li {
											padding: 20px;
										}

										.home .footer {
											padding-top: 60px;
										}

										.footer-content p {
											display: inherit;
										}

										.social .caption {
											font-size: 14px;
											padding: 0px;
										}


										/* *********************************** */
										/* DESKSPACE ADJUSTMENTS */
										/* *********************************** */


										.deskspace h1 {
											font-size: 48px;
										}

										.header-main-content {
										  grid-row-gap: 40px;
										}

										.deskspace .prototype-btn {
											grid-column: 6 / 8;
										}

										.deskspace .header-main-content h3 {
											grid-column: 4 / 10;
											font-size: 32px;
											font-weight: 400;
										}

										.ds-subsection-header {
											grid-column: 1 / -1;
											padding: 40px 0px 40px 0px;
											justify-self: center;
											text-transform: uppercase;
										}

										#deskspace-preview-image {
											width: 80%;
										}

										#specs {
											max-width: 900px;
											font-size: 20px;
										}

										#specs h2 {
											display: inherit;
											text-align: center;
										}

										#specs p {
											margin: 40px 0px 40px 0px;
										}

										#project-details strong {
										  border: solid 4px #F2634B;
										  border-radius: 8px;
										  padding-left: 2px;
										  margin-right: 8px;
										}

										.ds-category-heading {
											grid-column: 1 / -1;
											font-size: 36px;
										  font-weight: 600;
										  padding: 40px 0px 40px 0px;
											justify-self: center;
											text-align: center;
										}

										.question.btn {
											margin-top: 40px;
										}

										.question-breakdown {
											padding: 0px 40px 0px 40px;
											margin: 0px 20%;
										}

										.question-breakdown p {
											padding-left: 0px;
										}

										.question-breakdown h5 {
											font-style: normal;
											padding-right: 20px;
										}

										.ds-mini-section-header {
											grid-column: 2 / -1;
											font-weight: 600;
											padding: 30px 0px 30px 0px;
										}

										.answer-takeaways {
											margin: 40px 30%;
										}

										.analysis {
											margin-bottom: 80px;
											line-height: 1.9;
											padding: 40px 300px 60px 300px;
											text-align: left;
										}

										.answer {
											flex-basis: 51%;
										}

										.takeaway {
											padding: 0%;
										}

										#features {
											width: 100%;
										}

										#devices {
											width: 40%;
										}

										#user-personas .grid {
											grid-template-columns: 1fr 1fr;
											column-gap: 0;
										}

										.persona {
											grid-column: auto;
											width: auto;
										}

										.company-vl {
											border-left: 5px solid #F8A59A;
										  height: 400px;
											margin-top: 30px;
										}

										.company {
											display: grid;
											grid-template-columns: auto;
											grid-column-gap: 10px;
											grid-row-gap: 10px;
										}

										.co-logo {
											height: 97px;
											width: 97px;
										}

										.company-points {
											grid-column: 1/5;
										}

										.co-summary {
											object-fit: contain;
											grid-column: span 4;
											width: 80%;
										}

										#opportunities {
											margin: 0 30% 20px 30%;
										}

										#opportunities .btn {
											margin: 0 auto;
										}

										#stickies {
											width: 60%;
										}

										#priorities {
											width: 20%;
										}

										#user-flow-image {
											width: 80%;
										}

										#tested-tasks,
										#preference-testing,
										#wireframe-sketch-description,
										#color-description
										#usability-test-description2 {
											padding: 60px 20%;
										}

										#wireframe-testing-image {
											display: inherit;
											margin: 60px auto 60px auto;
										}

										#concept-text {
											padding-top: 40px;
										}

										.concept-quote {
											padding: 40px 0px 40px 80px;
											font-size: 20px;
										}

										#brand-concept-image {
											width: 45%;
										}

										#color-description {
											padding-top: 60px;
										}

										#color-palette {
											width: 50%;
										}

										#rough-logos {
											width: 70%;
										}

										#final-logo {
											width: 25%;
										}

										#tested-tasks-2 {
											padding: 40px;
											margin: 0 35%;
										}

										#tested-tasks-2 .list-heading2 {
											text-align: center;
										}

										#usability-test-description {
											padding-top:40px;
										}

										.usability-images {
											display: flex;
											flex-direction: row;
											margin: 0 10%;
										}

										#usability-visuals li {
											padding: 30px 28%;
										}

										#usability1 {
											width: 40%;
										}

										#usability6 {
											width: 50%;
										}

										#usability7 {
											width: 40%;
										}

										#illustration {
											width: 60%;
										}

										.to-top {
											left: 85%;
										}


										/* *********************************** */
										/* CONTACT ME ADJUSTMENTS */
										/* *********************************** */


										.contact-me form {
											padding-top: 0px;
											grid-column: 8 / span 4;
										}

										.contact-content {
											margin: 80px 60px 0px 60px;
										}

										.contact-text {
											grid-column: 2 / span 5;
										}

										.contact-content.grid {
											align-items: start;
											height: 400px;
										}

										.contact-me .caption {
											grid-row: 2;
											grid-column: 2 / span 5;
											justify-self: end;
											padding-right: 80px;
										}

										.contact-initial {
											margin: 0px;
										}

										.contact-secondary {
											margin-top: 40px;
										}

										/* *********************************** */
										/* ABOUT ADJUSTMENTS */
										/* *********************************** */

										.picture-divider {
											display: flex;
										}

										.square-border {
											display: flex;
											align-items: center;
											justify-content: space-around;
											border-radius: 50px;
										}

										#profile-pic2,
										#belle {
											object-fit: contain;
											height: 400px;
											align-self: center;
											justify-self: center;
											float: none;
											border-radius: 20px;
										}

										}


																				@media screen and (min-width: 1700px) {
																					/* *********************************** */
																					/* DESKSPACE ADJUSTMENTS */
																					/* *********************************** */

																					.answer-takeaways {
																						margin: 40px 35%;
																					}

																					#deskspace-preview-image {
																						width: 70%;
																					}

																					#problem-solution {
																						margin: 0px 0px 100px 0px;
																						padding-left: 120px;
																						padding-right: 120px;
																					}

																					.column {
																						margin: 0px 100px;
																					}

																					.analysis {
																						padding: 80px 400px;
																					}

																					.analysis ul {
																						column-gap: 100px;
																					}

																					.question.btn {
																						margin: 60px auto 100px auto;
																					}

																					#competitive .grid {
																						padding-top: 80px;
																						margin: 0px 100px;
																					}

																					#user-flow-image {
																						width: 70%;
																						padding: 60px 0px;
																					}

																					.co-logo {
																						height: 140px;
																						width: 140px;
																					}

																					.co-summary {
																						width: 100%;
																					}

																					#company1 {
																						grid-column: 1 / span 6;
																						width: 70%;
																					}

																					.company-vl {
																						height: 600px;
																					}

																					#stickies {
																						padding-top: 100px;
																						width: 40%;
																					}

																					#priorities {
																						padding: 40px 0px;
																						width: 15%;
																					}

																					#devices {
																						width: 35%;
																					}

																					.complaint-image {
																						width: 30vw;
																						margin-left: 6vw;
																					}

																					.summ {
																						margin: 0 6vw;
																					}

																					#tested-tasks,
																					#preference-testing,
																					#wireframe-sketch-description,
																					#usability-test-description,
																					#color-description,
																					#usability-test-description2,
																					#color-description {
																						padding: 80px 30%;
																					}

																					#wireframe-sketches-images {
																						width: 40%;
																					}

																					#digital-wireframes > img {
																					width: 50%;
																					}

																					.concept-text,
																					#name-description {
																						margin: 100px 30%;
																					}

																					#brand-concept-image {
																						width: 40%;
																					}

																					#quotes-section {
																						margin: 20px 30%;
																					}

																					#color-palette {
																						width: 40%;
																					}

																					#buttons {
																						width: 30%;
																					}

																					.flex-container {
																						display: flex;
																						flex-wrap: wrap;
																						justify-content: space-around;
																					}

																					#preference1,
																					#preference2 {
																						width: 35%;
																						margin: auto;
																						height: 450px;
																					}

																					.bullets {
																						margin: 0px 15%;
																					}

																					.bullets li {
																						overflow: hidden;
																					}

																					#preference2 {
																						display: flex;
																						flex-wrap: wrap;
																						align-items: center;
																						justify-content: center;
																					}

																					#preference3 {
																						width: 40%;
																						align-self: center;
																					}

																					#preference3 {
																						padding: 40px;
																					}

																					#pref-images-3 {
																						display: flex;
																					}



																					#conclusion-quote {
																						padding: 0px 60px;
																						text-align: center;
																						font-size: 20px;
																					}

																				}
